location /static/ {
   alias {{ openslides_static_path }}/;
}

location /media/ {
    alias {{ openslides_user_data_path }}/media/;
}

location / {
    proxy_pass http://localhost:{{ openslides_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
}
