// TODO: fill in data
INSERT INTO core_configstore (key, value) VALUES
  ('general_event_name', ...),
  ('general_event_description', ...),
  ('general_event_date', ...),
  ('general_event_location', ...);

