location /{{ openslides_instance_slug }} {
    rewrite /{{ openslides_instance_slug }}(.*) /$1  break;
    proxy_pass http://localhost:{{ openslides_instance_systemd_port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
}

location /{{ openslides_instance_slug }}/media {
    alias {{openslides_instance_path }}/data/media;
}

location /{{ openslides_instance_slug }}/static {
    alias {{ openslides_static_path }}/{{ openslides_instance_osversion }};
}

