location /{{ openslides_instance_slug }} {
    rewrite /{{ openslides_instance_slug }}(.*) /$1  break;
    proxy_pass http://localhost:{{ openslides_instance_systemd_port }};
    error_page 502 /{{ openslides_instance_slug }}/502.html;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
}

location = /{{ openslides_instance_slug }}/502.html {
    alias {{openslides_instance_path }}/502.html;
}

location /{{ openslides_instance_slug }}/media {
    alias {{openslides_instance_path }}/data/media;
}

location /{{ openslides_instance_slug }}/static {
    alias {{ openslides_instance_path }}/static;
}

location = /{{ openslides_instance_slug }}/static/img/logo-projector.png {
    {{ openslides_multiinstance_api_url }}/instancelogo/{{ openslides_instance_id }}
}
