# OpenSlides multi-instance container configuration for
# {{ openslides_instance_slug }}.{{ openslides_instance_parent_domain }}

server {
    listen 80;
    listen [::]:80;
    server_name {{ openslides_instance_slug }}.{{ openslides_instance_parent_domain }};

    location / {
        rewrite ^ https://$server_name$request_uri ;
    }
}

server {
    listen 443 ssl spdy;
    listen [::]:443 ssl spdy;

    server_name {{ openslides_instance_slug }}.{{ openslides_instance_parent_domain }};

    ssl_certificate      /etc/ssl/private/openslides-container-cert.pem;
    ssl_certificate_key  /etc/ssl/private/openslides-container-cert.key;

    location /media/ {
        alias {{openslides_instance_path}}/data/media/;
    }

    location /static {
        alias {{ openslides_instance_path }}/static;
    }

    location = /502.html {
        alias {{ openslides_instance_path }}/502.html;
    }

    location / {
        proxy_pass http://localhost:{{ openslides_instance_systemd_port }};
        proxy_http_version 1.1;
        error_page 502 /502.html;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
    }

}
