[Unit]
Description=Openslides Instance
Wants=network.target

[Service]
# Environment="PYTHONPATH=/home/ab/git/OpenSlides:{{ openslides_instance_path }}"
# ExecStart=/home/ab/.virtualenvs/os/bin/python /home/ab/git/OpenSlides/manage.py runserver localhost:23239
ExecStart={{ openslides_rkt_base }}
NonBlocking=true
# User=openslides

[Install]
WantedBy=multi-user.target
