[Unit]
Requires={{ openslides_instance_service_name }}.service
After={{ openslides_instance_service_name }}.service

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd 127.0.0.1:{{ openslides_instance_port }}
# PrivateTmp=yes
# PrivateNetwork=yes
