from openslides.global_settings import *

TIME_ZONE = 'Europe/Berlin'

SECRET_KEY = '{{ openslides_secure_key }}'

# TODO: fill in postgresql credentials
DATABASES = {
  'default': {% include setting_db_template %}
}
# MEDIA_ROOT = '/home/ab/tmp/instances/example/data/media/'
# SEARCH_INDEX = '/home/ab/tmp/instances/example/data/search_index/'
MEDIA_ROOT = '/data/data/media/'
SEARCH_INDEX = '/data/data/search_index/'
STATIC_URL = '/static/{{ openslides_instance_osversion }}/'
STATIC_ROOT = '/data/static/'

CHANNEL_LAYERS['default']['BACKEND'] = 'asgi_redis.RedisChannelLayer'
CHANNEL_LAYERS['default']['CONFIG']['prefix'] = '{{ openslides_instance_id }}'
CHANNEL_LAYERS['default']['CONFIG']['hosts'] = [('172.16.28.1', 6379)]

CACHES = {
   "default": {
       "BACKEND": "django_redis.cache.RedisCache",
       "LOCATION": "redis://172.16.28.1:6379/0",
       "OPTIONS": {
           "CLIENT_CLASS": "django_redis.client.DefaultClient",
       }
   }
}

SESSION_ENGINE = 'redis_sessions.session'
SESSION_REDIS_HOST = '172.16.28.1'
SESSION_REDIS_PORT = 6379
SESSION_REDIS_DB = 0
