from openslides.global_settings import *

TIME_ZONE = 'Europe/Berlin'

SECRET_KEY = '{{ openslides_secure_key }}'

# TODO: fill in postgresql credentials
DATABASES = {
  'default': {% include setting_db_template %}
}
MEDIA_ROOT = '/data/data/media/'
STATIC_URL = '/static/'
STATIC_ROOT = '/data/static/'

CHANNEL_LAYERS['default']['BACKEND'] = 'asgi_redis.RedisChannelLayer'
CHANNEL_LAYERS['default']['CONFIG']['prefix'] = 'asgi-{{ openslides_instance_id }}:'
CHANNEL_LAYERS['default']['CONFIG']['hosts'] = [('172.16.28.1', 6379)]

CACHES = {
   "default": {
       "BACKEND": "django_redis.cache.RedisCache",
       "LOCATION": "redis://172.16.28.1:6379/0",
       "OPTIONS": {
           "CLIENT_CLASS": "django_redis.client.DefaultClient",
       },
       "KEY_PREFIX": "openslides-cache-{{ openslides_instance_id }}",
   }
}

SESSION_ENGINE = 'redis_sessions.session'
SESSION_REDIS_HOST = '172.16.28.1'
SESSION_REDIS_PORT = 6379
SESSION_REDIS_DB = 0

# The restricted data cache caches the data individual for each user.
# This requires a lot of memory if there are a lot of active users.
DISABLE_USER_CACHE = True

# OpenSlides plugins
INSTALLED_PLUGINS += (
#    'plugin_module_name',

# Built-in plugins:
#    'tests.example_data_generator',
)
INSTALLED_APPS += INSTALLED_PLUGINS

DEBUG = False
