{
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'openslides_{{ openslides_instance_id }}',
        'USER': 'openslides_{{ openslides_instance_id }}',
        'PASSWORD': '{{ openslides_instance_db_password }}',
        'HOST': '172.16.28.1'
}
