[supervisord]
logfile=/data/supervisor.log
nodaemon=true
environment=PYTHONPATH=/data:/app,DJANGO_SETTINGS_MODULE=settings
user=openslides

[program:openslides]
command=/usr/local/bin/daphne openslides.asgi:channel_layer -p 8000 -b 0.0.0.0
stdout_logfile=/data/openslides.out
stderr_logfile=/data/openslides.err
directory=/tmp
autorestart=true

[program:openslides_worker_1]
command=/app/manage.py runworker
stdout_logfile=/data/openslides_worker_1.out
stderr_logfile=/data/openslides_worker_1.err
autorestart=true

[program:openslides_worker_2]
command=/app/manage.py runworker
stdout_logfile=/data/openslides_worker_2.out
stderr_logfile=/data/openslides_worker_2.err
autorestart=true

[program:openslides_worker_3]
command=/app/manage.py runworker
stdout_logfile=/data/openslides_worker_3.out
stderr_logfile=/data/openslides_worker_3.err
autorestart=true

[program:openslides_worker_4]
command=/app/manage.py runworker
stdout_logfile=/data/openslides_worker_4.out
stderr_logfile=/data/openslides_worker_4.err
autorestart=true
