<html>
<head>
  <title Instanz ("{{ openslides_instance_event_name }}") gestoppt</title>
</head>
<h1>Diese Instanz ("{{ openslides_instance_event_name }}") ist gestoppt. Bitte kontaktieren Sie den Admitistrator</h1>
</html>
