<html>
<head>
  <title>Instanz "{{ openslides_instance_event_name }}"</title>
</head>
<h1>Instanz "{{ openslides_instance_event_name }}" ist inaktiv. Bitte kontaktieren Sie den Administrator.</h1>
</html>
